.tabs__item {
    flex: 0 1 33.33333%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #A8A8A8;
    cursor: pointer;
}