.city__card {
    padding: 40px;
    max-width: 800px;
    width: 100%;
    min-height: 496px;
    position: relative;
    background-image: url("/img/bluer.png");
    background-repeat: no-repeat;
    background-size: cover
}

@media (max-width: 320px) {
    .city__card {
        padding: 24px;
    }
}