.feed__card {
    max-width: 488px;
    width: 100%;
    max-height: 496px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    /* background: linear-gradient(180deg, #F5F5F5 61.47%, rgba(245, 245, 245, 0) 97.2%); */
}

@media (max-width: 320px) {
    .feed__card {
        max-width: 312px;
        width: 100%;
        padding: 24px;
        font-size: 16px;
        line-height: 28px;
    }
}