.qa__quastion__title {
    margin-top: 128px;
    width: 100%;
    max-width: 915px;
    align-self: center;
    color: white;
    font-size: 44px;
    font-weight: 700;
    line-height: 51px;
    border-bottom: 1px solid gray;
}