.info__card {
    display: flex;

}



.info__card__block {
    display: flex;
    flex-direction: column;
}

.btn__info__hidden {
    display: none;
}

@media (max-width: 320px) {
    .btn__info__hidden {
        display: block !important;
    }

    .btn__info {
        display: none;
    }
}