.info__card__subtitle {
    max-width: 450px;
    margin-top: 21px;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
}

.info__card__subtitle:nth-last-child(1n) {
    max-width: 520px;
}