.header__top {
    width: 100%;
    margin: 0 auto 31px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 328px) {
    .header__top {
        max-width: 320px;
        flex-wrap: wrap;
        align-items: center;
    }
}