.footer {
    height: 100;
    width: 100%;
}

.footer .wrapper {
    margin: 0 auto;
    padding-bottom: 38px;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.footer .wrapper {
    display: flex;
    flex-direction: row;
    
}

.footer__online {
background-image: url("/img/Ellipse.jpg");
background-repeat: no-repeat;
background-size: cover;
}