.info__cards {
    width: 100%;
    margin-bottom: 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 328px) {
    .info__cards {
        max-width: 320px;
    }
}